body { background: #d3b422; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-router-0 { color: #b07dd6; font-size: 14px; margin-bottom: 5px; }
.block-auth-1 { color: #d663d6; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #d4f8d3; font-size: 16px; margin-bottom: 5px; }
.block-logger-3 { color: #5b798a; font-size: 15px; margin-bottom: 5px; }
.block-notify-4 { color: #93ea7b; font-size: 21px; margin-bottom: 5px; }
.block-cart-5 { color: #1d98c5; font-size: 19px; margin-bottom: 5px; }